header {
  background-color: #009292; /* Couleur de fond */
  padding: 20px; /* Espacement intérieur */
}

.main-nav ul {
  list-style: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime le remplissage par défaut */
  margin: 0; /* Supprime la marge par défaut */
  display: flex; /* Aligne les éléments en ligne */
  justify-content: space-around; /* Espace égal entre les éléments */
}

.main-nav li {
  margin: 0 15px; /* Marge entre les éléments de la liste */
}

.main-nav a {
  color: white; /* Couleur du texte des liens */
  text-decoration: none; /* Supprime le soulignement des liens */
  font-weight: bold; /* Met le texte en gras */
  transition: color 0.3s; /* Transition pour l'effet de survol */
}

.main-nav a:hover {
  color: #ffcc00; /* Couleur du texte au survol */
}
